{% extends "base.html" %}
{% load static %}
{% block body %}
<!-- contact -->
<div class="hero_area">
   <!-- slider section -->
   <section class=" slider_section " id="home">
      <div class="container">
         <div class="row">
            <div class="col-md-6 ">
               <div class="detail_box">
                  <h1>
                     DENOISING OF <br>
                     BIONIC <br>
                     IMAGES 
                  </h1>
                  <p>
                     Denoising bionic images involves using advanced algorithms to reduce noise and enhance the quality of images inspired by biological vision systems, crucial for improving clarity in medical and scientific imaging.
                  </p>
                  <a href="" class="">
                     Contact Us
               </div>
            </div>
            <div class="col-lg-5 col-md-6 offset-lg-1">
               <div class="img_content">
                  <div class="img_container">
                     <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                           <div class="carousel-item active">
                              <div class="img-box">
                                 <img src="{% static 'images/mri-noise.png' %}" alt="">
                              </div>
                           </div>
                           <div class="carousel-item">
                              <div class="img-box">
                                 <img src="{% static 'images/mri-denoise.png' %}" alt="">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                     <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                     <span class="sr-only">Next</span>
                  </a>
               </div>

            </div>
         </div>
      </div>
   </section>
   <!-- end slider section -->
</div>

<!-- service section -->
<section class="service_section layout_padding" id="demoImg">
   <div class="container">
      <div class="heading_container">
         <h2>
            Demo Images
         </h2>
      </div>

      <div class="service_container">
         <div class="box">
            <div class="img-box">
               <img src="{% static 'images/1.png' %}" class="img1" alt="">
            </div>
            <div class="detail-box">
               <h5>
                  Liver MRI
               </h5>
            </div>
         </div>
         <div class="box active">
            <div class="img-box">
               <img src="{% static 'images/2.png' %}" class="img1" alt="">
            </div>
            <div class="detail-box">
               <h5>
                  kidneys MRI
               </h5>
            </div>
         </div>
         <div class="box">
            <div class="img-box">
               <img src="{% static 'images/3.jpg' %}" class="img1" alt="">
            </div>
            <div class="detail-box">
               <h5>
                  Teeth MRI
               </h5>
            </div>
         </div>
         <div class="box ">
            <div class="img-box">
               <img src="{% static 'images/mri-noise.png' %}" class="img1" alt="">
            </div>
            <div class="detail-box">
               <h5>
                  Braini MRI
               </h5>
            </div>
         </div>
      </div>
      <div class="btn-box">
         <a href="">
            Read More
         </a>
      </div>
   </div>
</section>
<!-- end service section -->

<!-- about section -->
<section class="about_section layout_padding" id="about">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="detail-box">
               <div class="heading_container">
                  <h2>
                     Denoice
                  </h2>
                  <img src="{% static 'images/plug.png' %}" alt="">
               </div>
               <p>
                  Bionic image denoising leverages bio-inspired algorithms to reduce visual noise, enhancing image clarity for applications like medical diagnostics and night vision technology.
               </p>
               <a href="">
                  Read More
               </a>
            </div>
         </div>
         <div class="col-md-6">
            <div class="img_container">
               <div class="img-box b1">
                  <img src="{% static 'images/mri-noise.png' %}" alt="" />
               </div>
               <div class="img-box b2">
                  <img src="{% static 'images/mri-denoise.png' %}" alt="" />
               </div>
            </div>

         </div>

      </div>
   </div>
</section>

<!-- end about section -->


<!-- contact section -->

<section class="contact_section layout_padding" id="contact">
   <div class="container ">
      <div class="heading_container">
         <h2>
            Contact Us
         </h2>
         <img src="{% static 'images/plug.png' %}" alt="">
      </div>
   </div>
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <form action="" method="post">
               <div>
                  <input name="txt1" type="text" placeholder="Name" />
               </div>
               <div>
                  <input name="txt2" type="email" placeholder="Email" />
               </div>
               <div>
                  <input name="txt3" type="text" placeholder="Phone Number" />
               </div>
               <div>
                  <input name="txt4" type="text" class="message-box" placeholder="Message" />
               </div>
               <div class="d-flex ">
                  {% csrf_token %}
                  <button>
                     SEND
                  </button>
               </div>
            </form>
         </div>
         <div class="col-md-6">
            <div class="map_container">
               <div class="map-responsive">
                  <iframe
                     src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France"
                     width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%"
                     allowfullscreen></iframe>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<!-- end contact section -->


{% endblock body %}